{{!< default}} {{#post}} <main id="gh-main" class="gh-main">
    <article class="gh-article {{post_class}}">

        <header class="gh-article-header gh-canvas">
            <h1 class="gh-article-title">{{title}}</h1>

            {{#if custom_excerpt}}
            <p class="gh-article-excerpt">{{custom_excerpt}}</p>
            {{/if}}

            {{> "feature-image"}}
        </header>

        <div class="gh-content gh-canvas">
            {{content}}
        </div>

        {{#if comments}}
        <div class="gh-comments gh-canvas">
            {{comments}}
        </div>
        {{/if}}

        <footer
            class="gh-article-footer gh-canvas{{#if @site.comments_enabled}}{{#unless @member}} no-border{{/unless}}{{#unless access}} no-border{{/unless}}{{/if}}">
            {{#get "posts" include="tags,authors" limit="3" filter="id:-{{id}}+tag:{{primary_tag.slug}}" as
            |related|}}
            {{#if related}}
            <section class="gh-section">
                <h3 class="gh-section-title">SELECT * FROM related LIMIT 3;</h3>
                <div class="gh-feed">
                    {{#foreach related}}
                    {{> loop}}
                    {{/foreach}}
                </div>
            </section>
            {{/if}}
            {{/get}}
            <nav class="gh-navigation">
                <div class="gh-navigation-previous">
                    {{#prev_post}}
                    <a class="gh-navigation-link" href="{{url}}">
                        <span class="gh-navigation-label">{{> icons/arrow-left}} Previous content</span>
                        <h4 class="gh-navigation-title">{{title}}</h4>
                    </a>
                    {{/prev_post}}
                </div>

                <div class="gh-navigation-middle"></div>

                <div class="gh-navigation-next">
                    {{#next_post}}
                    <a class="gh-navigation-link" href="{{url}}">
                        <span class="gh-navigation-label">Next content {{> icons/arrow-right}}</span>
                        <h4 class="gh-navigation-title">{{title}}</h4>
                    </a>
                    {{/next_post}}
                </div>
            </nav>

        </footer>
    </article>

    </main>
    <script type="module">
        import * as duckdb from "https://cdn.jsdelivr.net/npm/@duckdb/duckdb-wasm/+esm";
        
        (async function () {
            const db = await instantiate(duckdb);
            const conn = await kissThenQuery(db);
            if (conn) {
                document.getElementById("duckdb-status").innerHTML = `<div class="kg-card kg-callout-card kg-callout-card-blue"><div class="kg-callout-emoji">🦆</div><div class="kg-callout-text">Quack!!! DuckDB WASM v${duckdb.PACKAGE_VERSION} instantiated.</div></div></div>`;
            }

            let executeButtons = document.querySelectorAll("[id^=execute-]");
            for (let i = 0; i < executeButtons.length; i++) {
                executeButtons[i].addEventListener("click", function () {
                    let j = i + 1;
                    renderTable(conn, codeEditor["#editor-" + j].state.doc.toString(), "result-" + j);
                });
            }
        })();
    </script>

    {{/post}}